<footer>
    <div>
        <div class="span8">
            <p>
                &copy; Brentwood Driver Training 2012</p>
        </div>
        <div class="span4">
            <p align="right">
                BDT 
            </p>
        </div>
    </div>
</footer>