<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="BdtContext" connectionString="data source=.\SQLEXPRESS;Initial Catalog=BdtContext;User Id=sa;Password=drowssap;Persist Security Info=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>