
<span class="quicklinks-listname">Spring 2012</span>
<ul class="quicklinks-sessions">
    <li><a>Session 1</a></li>
    <li><a>Session 2</a></li>
    <li><a>Session 3</a></li>
    <li><a>Session 4</a></li>
    <li><a>Session 5</a></li>
    <li><a>Father Ryan</a></li>
</ul>
<span class="quicklinks-listname">Fall 2011</span>
<ul class="quicklinks-sessions">
    <li><a>Session 1</a></li>
    <li><a>Session 2</a></li>
    <li><a>Session 3</a></li>
    <li><a>Session 4</a></li>
    <li><a>Session 5</a></li>
    <li><a>Session 6</a></li>
    <li><a>Father Ryan</a></li>
</ul>