@using BDT.Domain.Entities
@model IEnumerable<BDT.Domain.Entities.SessionDate>

@{
    if (Model != null)
    {
        IEnumerable<SessionDate> sessionDates = Model.OrderBy(prop => prop.Date).ToList();
        
        <ul id="sessionDates">
            
            @foreach (SessionDate date in sessionDates)
            {
                <li>
                    @date.Date.ToShortDateString()
                    <a href="@Url.Action("DeleteDate", "Sessions", new {id = date.Id, sessionId = date.SessionId})">X</a>
                </li>
            }
        </ul>
    }
}