<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
            <add name="BdtContext"
               connectionString="Data Source=|DataDirectory|BdtContext.sdf"
               providerName="System.Data.SqlServerCe.4.0" />
    </connectionStrings>
</configuration>
