html, body {margin:0px; padding:0px;
background: #1e5799;
background: -moz-linear-gradient(left,  #1e5799 0%, #82daf2 50%, #1e5799 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e5799), color-stop(50%,#82daf2), color-stop(100%,#1e5799));
background: -webkit-linear-gradient(left,  #1e5799 0%,#82daf2 50%,#1e5799 100%);
background: -o-linear-gradient(left,  #1e5799 0%,#82daf2 50%,#1e5799 100%);
background: -ms-linear-gradient(left,  #1e5799 0%,#82daf2 50%,#1e5799 100%);
background: linear-gradient(left,  #1e5799 0%,#82daf2 50%,#1e5799 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#1e5799',GradientType=1 );
}


/* Universal CSS */
.content {background:#FFFFFF; padding:20px 20px; margin-top:-10px;}
footer {border-top:2px solid #ccc;}
.hero-unit {background-color:#EBEBEB !important; padding:50px 60px 20px !important;}
.row {margin-bottom:30px;}
.row:first-child {margin-top: 50px;}
.btn {font-weight: bold;}
a:hover {cursor: pointer;}



/* Navigation Links */
.navbar .nav {font-weight: bold; font-size: 15px;}



/* Quick Links */
#quicklinks {/* border: 1px solid #000; margin-right:-2px; */}
.quicklinks-sectionTitle {font-size: 17px; font-weight: bold; margin:15px 0 15px 0; padding: 0 0 0 0;}
.quicklinks-listname {font-size: 16px; font-weight: bold; margin: 0 0 0 5px;}
ul.quicklinks-sessions {margin: 0 0 20px 0; padding: 0px; list-style-type: none; display: block;}
ul.quicklinks-sessions li {margin: 10px 50px 0 10px;}
ul.quicklinks-sessions li a {padding: 10px; background: #DBDBDB; display: block; width:100%;}
ul.quicklinks-sessions li a:hover {background: #C9C9C9; text-decoration: none;}



/* Home Page */
#welcomeMessage {margin-top:30px; padding-top:20px; border-top:2px solid #ccc;}
#welcomeMessage img {float:right; margin: -40px 20px 0 50px;}
#notificationNumber {color:#B00; background:#D1D1D1; padding:2px 7px; -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;}



/* Studenta Page */
#student {display:none;}


