<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit" >
    <h1>Notifications</h1>
    <p><strong>You have <span id="notificationNumber">3</span> new notifications.</strong> Click below to view all notifications or to hide this box...</p>
    <a class="btn btn-primary btn-large">View Notifications</a> 
    <a class="btn btn-large">Hide This Box</a>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Students</h2>
        <p><strong>Look-up or add new students in the database.</strong> Most students will register online with a credit card, but you are still able to manually add new students here if they send a copy of their registration form.</p>
        <a class="btn btn-primary" href="/students/create"><i class="icon-search icon-white"></i> Search</a> 
        <a class="btn btn-success" href="/students/create"><i class="icon-plus icon-white"></i> New</a>
    </div>
    <div class="span4">
        <h2>Website</h2>
        <p><strong>Manage information on the BDT website;</strong> such as detailed content, course pricing and other fees, and more. Changes made here will be reflected on the website in a matter of seconds, so be sure <i>before</i> you click save!</p>
        <a class="btn btn-primary" href="#"><i class="icon-list-alt icon-white"></i> Details</a> 
        <a class="btn btn-success" href="#"><i class="icon-tags icon-white"></i> Pricing</a> 
        <a class="btn btn-info" href="#"><i class="icon-random icon-white"></i> More</a>
    </div>
    <div class="span4">
        <h2>Users</h2>
        <p><strong>Manage control panel users and access levels.</strong> Office workers and instructors are allowed certain permissions in the control panel based on their role in the company. As a top level administrative user, you are able to add and modify these users.</p>
        <a class="btn btn-primary" href="#"><i class="icon-edit icon-white"></i> Edit</a> 
        <a class="btn btn-success" href="#"><i class="icon-plus icon-white"></i> New</a>
    </div>
</div>
<div class="row">
    <div class="span4">
        <h2>Instructors</h2>
        <p><strong>Manage instructor information in the database.</strong> It is important to keep instructor information accurate, as information such as their names and license codes will be automatically included on documentation they print from this system.</p>
        <a class="btn btn-primary" href="#"><i class="icon-edit icon-white"></i> Edit</a> 
        <a class="btn btn-success" href="#"><i class="icon-plus icon-white"></i> New</a>
    </div>
    <div class="span4">
        <h2>Cars</h2>
        <p><strong>Manage registration, insurance, and more for BDT vehicles.</strong> If you keep this information up-to-date, you will be notified of expiring registration and insurance on the notifications page. The system will also include tag information when a car is assigned to a particular instructor for their paper work.</p>
        <a class="btn btn-primary" href="#"><i class="icon-edit icon-white"></i> Edit</a> 
        <a class="btn btn-success" href="#"><i class="icon-plus icon-white"></i> New</a>
    </div>
    <div class="span4">
        <h2>Locations</h2>
        <p><strong>Manage locations where classes are offered.</strong> Locations must be added here in order to show them on the website for registration. You may also select whether or not you want a classroom location to be listed on the "locations" page on the BDT website.</p>
        <a class="btn btn-primary" href="#"><i class="icon-edit icon-white"></i> Edit</a> 
        <a class="btn btn-success" href="#"><i class="icon-plus icon-white"></i> New</a>
    </div>
</div>
<div class="row">
    <div class="span12" id="welcomeMessage">
        <h2>Welcome to the Control Center!</h2>
        <img src="/Content/images/student-driver-sign.jpg" />
        <p>Welcome, and thank you for visiting the Brentwood Driver Training (BDT) administrative control panel. From this control panel you will have access to making changes to all kinds of features that are used in the daily operations of BDT. This control panel has been modified for use across all systems and browsers. As long as you have a username and password for the system, you can access it from anywhere with an internet connection. In other words, if you make changes to your settings, notifications, or anything else in the system from your home computer those changes will be reflected on every computer or mobile device you use to access the system.</p>
    </div>
</div>